.bground{
    -fx-background-color:#001a33;
}
.main{
    -fx-background-color:#fff;
}
.welcomescreen{
    -fx-background-color: #164e83;
    -fx-background-radius:0px 50px 0px 50px;

}
/*.left-form{*/
/*    -fx-background-radius:0px 15px 15px 0px;*/
/*    -fx-background-color: #164e83;*/
/*    -fx-margin:5px;*/
/*    -fx-effect:dropshadow(threes-pass-box, rgba(0,0,0,1), 6,0,0,0,);*/
/*}*/
.nav-btn{
    -fx-background-color:transparent;
    -fx-text-fill:#fff;
    -fx-font-size:15px;
    -fx-font-family:"Arial";
    -fx-alignment:CENTER-LEFT;
    -fx-cursor:hand;

}
.nav-btn:hover{
     -fx-background-color:#90958d;
}

.sign-btn{
    -fx-background-color:transparent;
    -fx-text-fill:#fff;
    -fx-font-size:15px;
    -fx-font-family:"Arial";
    -fx-alignment:CENTER-LEFT;
    -fx-cursor:hand;
}

.part01{
    -fx-background-color:#5bd9f5;
    -fx-background-radius:30px;

}
.part01-top{

    -fx-border-radius:15px;
}
.part01-top-btn{
    -fx-background-color:transparent;
    -fx-cursor:hand;
    -fx-text-fill:#fff;
    -fx-font-size:18px;
    -fx-font-family:"Arial";
    -fx-alignment:CENTER;

}

.part01-top-btn:hover{
    -fx-background-color:#90958d;
}

.pop-up{
    -fx-background-color: #164e83;

}

.pop-up-btn{
    -fx-background-color: #001a33;

}
.atendance{
     -fx-background-color: #164e83;
     -fx-background-radius:20px 20px 20px 20px;
}
.form-color{
    -fx-background-color: #164e83;
    -fx-background-radius:15px;
}
.table-view{

    -fx-border-color: transparent;
    -fx-border-width: 2px;
    -fx-border-radius: 20px ;
    -fx-font-size:18px;
    -fx-background-radius: 20px 20px 20px 20px;

}
.table-view .column-header-background{
    -fx-background-color:linear-gradient(to bottom left,#000, #001a33);
    -fx-background-radius: 20px 20px 0px 0px;
    -fx-background-insets: 0 0 0 0;
}

.table-view .column-header, .filter{
    -fx-background-color: transparent;
    -fx-size:45px;
}
.table-view .column-header .label{
    -fx-text-fill: #fff;

}

.attendence-view-box{
    -fx-background-color:#001a33;
    -fx-background-radius:0px 30px 0px 30px;

}

.other-windows{
    -fx-background-color:#164e83;
    -fx-background-radius:0px 30px 0px 30px;

}

.table{
    -fx-background-color:black;
}
.noticebtn{

    -fx-background-color:transparent;
        -fx-text-fill:#fff;
        -fx-font-size:18px;
        -fx-font-family:"Arial";
}

